/* Set-up */

/* Container box to set the sides relative to */
.cube {
	width: 90%;
	text-align: center;
    font-size:100%;
	margin: 0 auto;
    height: 100px;
    
    -webkit-transition: -webkit-transform .33s;
	transition: transform .33s; /* Animate the transform properties */

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.flippety,.flop,.flippety-x,.flop-x {
    background: #ffffff;
    /*background-image: -webkit-linear-gradient(90deg, #01c2f3, #fff, #53a0fd);
    /*background-image: linear-gradient(90deg, #01c2f3, #fff, #53a0fd);*/
	border: 1px solid #53a0fd;

	-webkit-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
	box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
	height: 100px;
}

/* Position the faces */
.flippety {
	-webkit-transform: translateZ(50px);
	transform: translateZ(50px);
}

.flop {
	-webkit-transform: rotateX(-90deg) translateZ(-50px);
	transform: rotateX(-90deg) translateZ(-50px);
  font-size:100%;
  color:green;
}

/* Rotate the cube */
.cube:hover {
	-webkit-transform: rotateX(89deg);
	transform: rotateX(89deg); /* Text bleed at 90º*/
}

.buttonresposta {
    float: right;
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid #53a0fd;
    -webkit-box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
	box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
    color:green;
    text-align: center;
    border-radius: 5px;
    font-size:100%;
	
}

